$primarycolor: rgb(65, 28, 10);
$secondarycolor: rgb(233, 146, 32);
$textcolor: rgb(255, 255, 255);
$radio-borde: 15px;
$sombra-normal: 0 4px 15px rgba(0,0,0,0.3);
$sombra-hover: 0 8px 20px rgba(0,0,0,0.4);